[submodule "src/Backend"]
    path = src/Backend
    url = https://github.com/vipulroxx/ameer-kisaan-backend

[submodule "src/Components"]
    path = src/Components
    url = https://github.com/vipulroxx/ameer-kisaan-frontend

