.logo {
  position: absolute;
  top: 70px; /* Keep this for vertical positioning */
  left: 4%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust position to be truly centered */
  width: 120px; /* Adjust size as needed */
  height: auto;
  z-index: 1;
  border: none;
  padding: 10px; /* Add padding if needed */
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 64px;
  margin-top: 30px;
}

.content-box {
  flex: 1;
  opacity: 0.5; /* Default opacity */
  transition: opacity 0.3s; /* Smooth transition */
}

.tab {
  transition: transform 0.3s, opacity 0.3s; /* Smooth transition for transform and opacity */
  opacity: 0.5; /* Default opacity */
}

.tab.hovered {
  transform: scale(1.1); /* Scale up the hovered tab */
  opacity: 1; /* Full opacity on hover */
}

.tab:not(.hovered) {
  opacity: 0.5; /* Fade out other tabs */
}


.content-box:hover {
  opacity: 1; /* Full opacity on hover */
}

.icon {
  margin-right: 5px;
}
