.logo {
  position: absolute;
  top: 70px; /* Keep this for vertical positioning */
  left:4%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust position to be truly centered */
  width: 120px; /* Adjust size as needed */
  height: auto;
  z-index: 1;
  border: none;
  padding: 10px; /* Add padding if needed */
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 64px;
  margin-top: 30px;
}

.content-box {
  flex: 1;
}

.icon {
  margin-right: 5px;
}
